body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F5F8;
}

.signup-box{
    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px 3px lightgrey;
    width: 25vw;
    height: 70vh !important;
    margin: 0 auto;
    margin-top: 7%;

}

.signup-btn{
    background-color: skyblue;
    font-weight: bold;
    border: none;
    width: 14.8vw;
    margin-top: 10% !important;
    padding: 2%;
}

.signup-heading{
    text-align: center;
    position: relative;
    display: inline-block;
    justify-content: space-around;
    flex-direction: row;
    top: 5%;
    margin-left: 20% !important;
    font-size: 1.5rem;
}





/* Media query */

/* For mobile */

@media screen and (max-width: 600px) {

    .signup-box{
        background-color: #FFFFFF;
        box-shadow: 1px 1px 10px 3px lightgrey;
        width: 90vw;
        height: 70vh;
        margin: 0 auto;
        margin-top: 25%;
    
    }

    .signup-email-input{
        width: 55vw;
        margin-top: 10% !important;
    }

    .signup-btn{
        background-color: skyblue;
        font-weight: bold;
        border: none;
        width: 55vw;
        margin-top: 20%;
        padding: 2%;
        

    }
    
    
}